<div class="container-fluid headings mt-3">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-white">CFP</h2>
            <p>Now Closed!</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-white">CFT</h2>
            <p>Now Closed!</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-white">Tickets</h2>
            <p>Now Available!</p>
            <p><a class="btn btn-secondary" href="https://events.eventzilla.net/e/bsides-rochester-2022--conference-2138817123" role="button">Get Tickets Here! &raquo;</a></p>
        </div>
    </div>
</div>
