<div class="container-fluid headings mt-3">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-white">CFP</h2>
            <p><a class="btn btn-light" href="/cfp">Now Closed!</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-white">CFT</h2>
            <p><a class="btn btn-light" href="/cft">Now Closed!</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="text-white">Tickets</h2>
            <a class="btn btn-light" href="/get_tickets">Get Tickets Here!</a>
        </div>
    </div>
</div>
