<header>
	<pre class="ascii logo">                                        
 
                .sdNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmy:               
               /MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMy              
               mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMNy+//+ymMMMMMmoooooooooooooohMMMMMNy+//+smMMMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMs`       +NMMMy              +MMMMs`       /NMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMy          +MMMy              +MMMh          +MMMMMMMMMMMMM.             
               NMMMMMMMMMMMMs          /MMMh--------------sMMMy          /MMMMMMMMMMMMM.             
               NMMMMMMMMMMMMN:        -mMMMMMMMMMMMMMMMMMMMMMMM/        .mMMMMMMMMMMMMM.             
               NMMMMMMMMMMMMMMd+-``-/yMMMMMMMMMMMMMMMMMMMMMMMMMMd+-.`./yMMMMMMMMMMMMMMM.             
              oMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMh`            
              NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-            
              NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.            
              NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.            
              NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.            
    .smMMMd+  NMMMMMMMMMMMMMMMMMMMMMMMMMNhhNMMMMMMMMMMMMMMMhhmMMMMMMMMMMMMMMMMMMMMMMMMMM.  ./++/-    
   /MMMMMMMMy mMMMMMMMMMMMMMMMMNo:/hMMMm`  `mMMMMMMMMMMMMM-   yMMMm+:+mMMMMMMMMMMMMMMMMM. hMMMMMMN+  
   dMMMMMMMMM.sMMMMMMMMMMMMMMMMy   `MMMN+..+MMMMMMMMMMMMMMs-.:mMMM/   +MMMMMMMMMMMMMMMMd oMMMMMMMMM` 
   +MMMMMMMMMh /mMMMMMMMMMMMMMMMhosmMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNyoyNMMMMMMMMMMMMMMNo`/MMMMMMMMMd  
    yMMMMMMMMMmo::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::+hMMMMMMMMMm`  
    sMMMMMMMMMMMMMMmhso/-.                                                 `-:+oydmMMMMMMMMMMMMMMN-  
  :mMMMMMMMMMMMMMMMMMMMMMMMmdys+/-.                               .-/+oyhmNMMMMMMMMMMMMMMMMMMMMMMMMs`
 sMMMMMMMMMMmysyhdmNMMMMMMMMMMMMMMMMNdhyo+:-.           .-:+oyhdNMMMMMMMMMMMMMMMMMNmhys+//sNMMMMMMMMd
 NMMMMMMMMm:  ..-.  `.-:+oshdmMMMMMMMMMMMMMMMMNmhysyhmNMMMMMMMMMMMMMMMMMNmdys+/:.` `/yddho-.mMMMMMMMm
 /NMMMMMMh`-yNMMMMd`           `-/ohNMMMMMMMMMMMMMMMMMMMMMMMMMMMMmyo/:.`          .mMMMMMMM+.hMMMMMh.
  `/shhs/ .NMMMMMMMh::://+osyhdmNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNmdhyo+/:-.`  .mMMMMMMMMN` `---`  
          /MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMmdhs+/::/oyhmNMMMMMMMMMMMMMMMMMMMMMMNMMMMMMMMMMM`        
           oMMMMMMMMMMMMMMMMMMMMMMNmdyo+/-`               `-:+sydNMMMMMMMMMMMMMMMMMMMMMMMMm/         
            +MMMMMMMMMMMMMmdyo+:-`                                `.:/oyhmNMMMMMMMMMMMMMy-           
           .mMMMMMMMMy/-`                                                  `-/ohMMMMMMMm             
          .NMMMMMMMMm                                                           dMMMMMMMo            
          +MMMMMMMMMo                                                           hMMMMMMMM`           
          `yMMMMMMMd`                                                           oMMMMMMMN`           
            ./ssso-                                                              /hmMMms.		

</pre>
	<pre class="ascii name">

██████╗ ███████╗██╗██████╗ ███████╗███████╗██████╗  ██████╗  ██████╗
██╔══██╗██╔════╝██║██╔══██╗██╔════╝██╔════╝██╔══██╗██╔═══██╗██╔════╝
██████╔╝███████╗██║██║  ██║█████╗  ███████╗██████╔╝██║   ██║██║     
██╔══██╗╚════██║██║██║  ██║██╔══╝  ╚════██║██╔══██╗██║   ██║██║     
██████╔╝███████║██║██████╔╝███████╗███████║██║  ██║╚██████╔╝╚██████╗
╚═════╝ ╚══════╝╚═╝╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝ ╚═════╝  ╚═════╝

                                                                   
</pre>
</header>
