<div id="jumbotron" class="jumbotron mx-auto">
    <div class="text-center">
        <h3>BSidesROC 2020!</h3>
        <h4>~ 10th Anniversary ~</h4>
        <p>The next BSidesROC is scheduled for Saturday March 21, 2020 at the RIT Inn & Conference Center -  5257 West Henrietta Road, Henrietta, NY 14467</p>
        <p>Stay Tuned for more details!</p>
    </div>
    <div class="container headings">
        <div class="row">
            <div class="col-md-4">
                <h2>CFP</h2>
                <p>Coming Soon!</p>
                <p><a class="btn btn-secondary" href="cfp/" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Workshops</h2>
                <p>Coming Soon!</p>
                <p><a class="btn btn-secondary" href="workshops/" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tickets</h2>
                <p>Coming Soon!</p>
                <p><a class="btn btn-secondary" href="get_tickets/" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>