<div id="jumbotron" class="jumbotron mx-auto">
    <div class="text-center">
        <h1 style="color: #cb2431 !important;">UPDATE!</h1>
        <p>In March 2020, the staff of BSides Rochester made the decision to initially postpone our 10th Anniversary event to sometime in the fall of 2020. However, given the rapid changes to the COVID-19 situation nationally and globally we have decided that the responsible thing is to postpone our event tentatively to March 2021. </p>
        <p>This was a hard decision, but certainly not a difficult one. The health and safety of everyone involved with BSides Rochester is our top priority. Existing tickets will be honored for the new date.  Contact us if you need a refund.  Please watch our website http://bsidesroc.com and follow our social media channels for updated information as we have it available.</p>
    </div>
    <div class="text-center">
        <h2>BSidesROC 2020!</h2>
        <h3>~ 10th Anniversary ~</h3>
        <p>The next BSidesROC is scheduled for Saturday March 21, 2020 at the RIT Inn & Conference Center -  5257 West Henrietta Road, Henrietta, NY 14467</p>
    </div>
    <div class="text-center">
        <h2>Pre-sale T-Shirts Ending Monday: 03/09 @ 11:59PM!</h2>
        <p>
            <a href="https://www.eventbrite.com/e/bsidesroc-2020-tickets-64152556022">Get one with your ticket today!</a>
        </p>
    </div>
    <div class="text-center">

        <h2>QUEST CTF NEWS!</h2>
        <p>
            First stage begins March 10th!  <br>
            Registration: register@definitelynotaspyagency.com<br>
            Rules and additional information: <a href="http://definitelynotaspyagency.com/rules.html">http://definitelynotaspyagency.com/rules.html</a>
        </p>
        <h2>TALKS ARE NOW POSTED!</h2>
        <p><a href="https://bsidesroc.com/talks/">https://bsidesroc.com/talks/</a></p>
    </div>

    <div class="text-center">
        <h2>2020 Keynote Announced!</h2>
        <p>BSidesRoc is excited to announce <a href="/speakers/">Monta Elkins</a> as this year's Keynote speaker!!!!!!!!</p>
    </div>
    <div class="text-center">
        <img class="keynote_img" src="/assets/img/keynote_2020.jpg"/>
    </div>
</div>