{% if site.data.config.tbd %}
<div id="jumbotron" class="jumbotron mx-auto mb-2">
    <div class="text-center">
        <h1 class="text-white">BSidesROC</h1>
        <p>Work has begun for next year, keep an eye on this space for information as it becomes available!</p>
    </div>
</div>
<div class="clearfix"></div>
{% else %}
<div id="jumbotron" class="jumbotron mx-auto mb-2">
    <div class="text-center">
        <h1 class="text-white">BSidesROC {{ site.data.config.year }}</h1>
        <p>The next BSidesROC is scheduled for {{ site.data.config.date }} at the RIT Inn & Conference Center - 5257 West
            Henrietta Road, Henrietta, NY 14467</p>
    </div>
</div>
<div class="clearfix"></div>
{% assign announcements = site.data.announcements sort: "date" %}
{% for announcement in announcements %}
<div class="card flex-row mb-2">
    <div class="card-header">
        <div class="h2 text-warning">
            {{ announcement.title }}
        </div>
        <div class="h4 text-right">
            {{ announcement.date }}
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ announcement.blurb }}
        </p>
    </div>
</div>
{% endfor %}

{% endif %}







