<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/cfp/">CFP</a></li>
		<li><a href="http://bsidesroc.com/volunteering/">Volunteering</a></li>
		<li><a href="/sponsorships/">Sponsorships</a></li>
		<li><a href="https://www.eventbrite.com/e/bsidesroc-tickets-54603780377">Get Tickets</a>
		<li><a href="/ctf/">CTF</a></li>
		<li><a href="/schedule">Schedule</a></li>
		<li><a href="/2019Talks/">Talks</a></li>
		<li><a href="/badge/">Badge Hacking</a></li>
		<li><a href="/resumes/">Resume/Free Attendance</a></li>
		<li><a href="/archives/">Archives</a></li>
	</ul>
</nav>
