<nav id="sidebar" class="col-md-2 d-none d-lg-block sidebar bg-light px-2">
    <h2 class="sidebar-heading text-center">Sponsors</h2>
    <div class="sidebar-sticky">
        <ul class="flex-column list-unstyled">
            <li>
                <img src="/assets/img/positron_security_logo_hires_white_transparent_v2.png" height="81px" width="230px">
            </li>
            <li>
                <img src="/assets/img/siegeTech-logo-large-New.png" height="81px" width="210px">
            </li>
        </ul>
    </div>
</nav>