<nav id="sidebar" class="col-md-2 d-none d-lg-block sidebar bg-light px-2">
    <h2 class="sidebar-heading text-center">Sponsors</h2>
    <div class="sidebar-sticky">
        <ul class="flex-column list-unstyled">
            <li style="height: 81px; max-width: 250px;" class="mt-3">
                <a href="https://www.rocissa.org/" target="_blank">
                    <img src="/assets/img/sponsors/RocISSALogo-brief.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px;" class="mt-3">
                <a href="https://sra.io/" target="_blank">
                    <img src="/assets/img/sponsors/SRA-logo-primary.jpg" height="100%" width="100%"/>
                </a>
            </li>
        </ul>
    </div>
</nav>