<nav id="sidebar" class="col-md-2 d-none d-lg-block sidebar bg-light px-2">
    <h2 class="sidebar-heading text-center">Sponsors</h2>
    <div class="sidebar-sticky">
        <ul class="flex-column list-unstyled">
            {% for sponsor in site.data.sponsors %}
            <li style="{{ sponsor.style }}" class="mt-3">
                <a href="{{ sponsor.url }}" target="_blank">
                    <img src="/assets/img/sponsors/{{ sponsor.image }}" height="100%" width="100%"/>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>