<nav id="sponsors" class="">
    <div class="mt-2 d-lg-none d-block bg-light px-2 sponsors w-100">
        <h3 class="sidebar-heading text-center">Sponsors</h3>
        <ul class="flex-column list-unstyled ml-md-auto">
            <li style="height: 81px; max-width: 250px;" class="mt-3">
                <a href="https://www.rocissa.org/" target="_blank">
                    <img src="/assets/img/sponsors/RocISSALogo-brief.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px;" class="mt-3">
                <a href="https://sra.io/" target="_blank">
                    <img src="/assets/img/sponsors/SRA-logo-primary.jpg" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px;" class="mt-3">
                <a href="https://nuspire.com/" target="_blank">
                    <img src="/assets/img/sponsors/Nuspire_Logo_Web.jpg" height="100%" width="100%"/>
                </a>
            </li>
        </ul>
    </div>
</nav>