<nav id="sponsors" style="">
    <div class="mt-2 d-lg-none d-block bg-light px-2 sponsors w-100">
        <h3 class="sidebar-heading text-center">Sponsors</h3>
        <ul class="flex-column list-unstyled ml-md-auto">
            <li style="height: 200px; max-width: 200px; margin-left: auto; margin-right: auto" class="mb-3">
                <a href="https://theosintion.com" target="_blank">
                    <img src="/assets/img/sponsors/Logo%20The%20OSINTion%20200%20x%20200.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto">
                <a href="https://www.positronsecurity.com/" target="_blank">
                    <img src="/assets/img/sponsors/positron_security_logo_white_small.png" height="100%" width="100%">
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://www.siegetechnologies.com/" target="_blank">
                    <img src="/assets/img/siegeTech-logo-large-New.png" height="100%" width="100%">
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://logrhythm.com" target="_blank">
                    <img src="/assets/img/sponsors/logrhythm.jpg" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://securenetworkinc.com" target="_blank">
                    <img src="/assets/img/sponsors/secure-network-technologies.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://proarch.com" target="_blank">
                    <img src="/assets/img/sponsors/ProArch%20Logo-02.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://rocissa.org" target="_blank">
                    <img src="/assets/img/sponsors/RochesterISSAChapterLogo.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://securityriskadvisors.com" target="_blank">
                    <img src="/assets/img/sponsors/SRA-logo-primary-ADVISORS-COLOR.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://proofpoint.com" target="_blank">
                    <img src="/assets/img/sponsors/Proofpoint.png" height="100%" width="100%"/>
                </a>
            </li>
            <li style="height: 81px; max-width: 250px; margin-left: auto; margin-right: auto" class="mt-3">
                <a href="https://proofpoint.com" target="_blank">
                    <img src="/assets/img/sponsors/Updated%20No%20Starch%20logo_long.png" height="100%" width="100%"/>
                </a>
            </li>
        </ul>
    </div>
</nav>