<nav id="sponsors" class="d-lg-none d-block bg-light px-2 sponsors w-100">
    <div class="mt-2">
        <h3 class="sidebar-heading text-center">Sponsors</h3>
        <ul class="list-unstyled">
            <li>
                <img src="/assets/img/positron_security_logo_hires_white_transparent_v2.png" height="81px" width="230px">
            </li>
            <li>
                <img src="/assets/img/siegeTech-logo-large-New.png" height="81px" width="210px">
            </li>
        </ul>
    </div>
</nav>